<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Generated Report</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
      <div>
        <h1 class="text-3xl font-bold">Resume Optimizer</h1>
      </div>
      <div>
        <a href="#" class="text-white hover:underline">Logout</a>
      </div>
    </nav>

    <br /><br />
    <!-- Main -->
    <div class="flex-grow container mx-auto mt-10 px-4 sm:px-0">
      <div
        class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col"
      >
        <!-- Report display section -->
        <div class="text-center">
          <h2 class="text-2xl font-semibold mb-4">Generated Report</h2>
          <div
            id="reportContent"
            class="bg-gray-100 p-4 rounded-lg text-left text-gray-700 whitespace-pre-wrap"
          >
            {{ report }}
          </div>
        </div>

        <!-- Download and upload another file -->
        <div class="mt-6 flex justify-between items-center">
          <!-- Download button -->
          <a
            id="downloadReport"
            href="/download_report/"
            download="Generated_Report.pdf"
            class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors"
          >
            Download Report
          </a>
          <!-- Upload another file -->
          <a
            href="/upload_pdf/"
            class="text-blue-600 hover:underline font-medium text-lg"
          >
            Upload Another PDF
          </a>
        </div>
      </div>
    </div>

    <footer class="text-center p-4 mt-6 text-black">
      Powered by
      <a
        href="https://github.com/shersheryar"
        class="font-semibold hover:underline"
        >Sheryar Sher</a
      >
    </footer>
    <script>
      document
        .getElementById("downloadReport")
        .addEventListener("click", () => {
          // Import jsPDF
          const { jsPDF } = window.jspdf;

          // Create a new jsPDF instance
          const pdf = new jsPDF();

          // Get the content of the report
          const reportContent =
            document.getElementById("reportContent").innerText;

          // Add content to the PDF
          pdf.text(reportContent, 10, 10); // (text, x, y)

          // Save the PDF
          pdf.save("Generated_Report.pdf");
        });
    </script>
  </body>
</html>
