<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Resume Optimizer</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
      <div>
        <h1 class="text-3xl font-bold">Resume Optimizer</h1>
      </div>
      <div>
        <a href="#" class="text-white hover:underline">Logout</a>
      </div>
    </nav>

    <br /><br />
    <!-- Main -->
    <div class="flex-grow container mx-auto mt-10 px-4 sm:px-0">
      <div
        class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col"
      >
        <!-- Introduction section -->
        <div class="text-center">
          <h2 class="text-2xl font-semibold mb-4">
            Welcome to the Resume Optimizer
          </h2>
          <p class="text-gray-700">
            Upload your resume, and let our AI optimize it with tailored
            feedback and suggestions!
          </p>
        </div>

        <br />

        <!-- Resume upload section -->
        <div>
          <h2 class="text-xl mb-4 font-semibold">Upload your Resume</h2>
          <div class="flex space-x-4">
            <form
              method="post"
              action="{% url 'upload_pdf' %}"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <input
                type="file"
                id="resumeUpload"
                name="pdf_file"
                class="flex-grow p-2 border border-blue-400 rounded-l-md max-w-md"
                required
              />
              <button
                type="submit"
                id="uploadResumeButton"
                class="bg-blue-600 text-white px-4 py-2 rounded-r-md hover:bg-blue-700 transition-colors"
              >
                Upload
              </button>
            </form>
          </div>
        </div>

        <!-- Section for loading circle -->
        <div style="display: none" id="loading-circle" class="load"></div>

        <!-- Generated report display -->
        <section class="mt-10 flex-grow">
          <h2 class="text-xl mb-4 font-semibold">Generated Report</h2>
          <div id="reportContent" class="mt-2 text-gray-700 space-y-4"></div>
        </section>
      </div>
    </div>

    <footer class="text-center p-4 mt-6 text-black">
      Powered by
      <a
        href="https://github.com/shersheryar"
        class="font-semibold hover:underline"
        >Sheryar Sher</a
      >
    </footer>
  </body>
</html>
